@min-height: 600px;
.page-container {
  background-color: rgba(241, 241, 242, 0.7);
  min-height: @min-height;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
  font-size: 22px;
  p.title {
    font-size: 32px;
  }

  .page-right {
    padding-right: 15px;
    float: left;
    width: 50%;
    height: 100%;
    min-height: @min-height;
    text-align: right;
    display: table;
    .content-container {
      display: table-cell;
      vertical-align: middle;
      p.title {
        font-size: 50px;
        margin-bottom: 35px;
      }

      img {
        max-height: 550px;
        max-width: 400px;
      }
    }
  }

  .page-left {
    width: 50%;
    height: 100%;
    min-height: @min-height;
    margin-left: 50%;
    padding-left: 15px;
    text-align: left;
    display: table;
    .content-container {
      display: table-cell;
      vertical-align: middle;
      p.title {
        font-size: 50px;
        margin-bottom: 35px;
      }

      img {
        max-width: 400px;
        max-height: 550px;
      }
    }
  }
}

.page-1 {
  .header {
    background-color: #ffffff;
    padding-top: 1%;
    min-height: 60px;
    height: 10%;

    .header-right {
      min-width: 333px;
      width: 30%;

      .copyright {
        float: left;
        font-size: 13px;
        border-right: 1px solid #333;
        padding-top: 10px;
        padding-right: 10px;
        width: 215px;
      }

      .social {
        margin-left: 225px;
        button {
          margin-left: 5px;
        }
      }
    }
  }

  .maps {
    position: relative;
    width: 100%;
    height: 65%;
    #mapcanvas {
      position: absolute;
      width: 100%;
      height: 70%;
      min-height: 400px;
    }

    .mapoverlay {
      position: absolute;
      width: 100%;
      height: 70%;
      min-height: 400px;
      background-color: rgba(0, 0, 0, 0.7);
    }
    
    .tomos {
      position: absolute;
      min-width: 800px;
      width: 100%;
      margin: auto;
      img {
        display: block;
        min-width: 800px;
        max-height: 100%;
        margin: auto;
      }
    }
  }

  .contents {
    min-height: 140px;
    height: 25%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    p {
      width: 100%;
      height: 100%;
      font-size: 25px;
      text-align: center;
      strong {
        font-size: 32px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    .black-text {
      color: #333;
    }
  }
}

.bottom-line {
  width: 65%;
  height: 1px;
  margin: auto;
  border-bottom: solid 3px #babcbe;
}

.page-2 {
  .page-right {
    .content-container {
      height: 384px;
    }
  }
}

.page-3 {
  .page-left {
    .content-container {
      height: 218px;
    }
  }
}

.page-4 {
  .page-right {
    .content-container {
      height: 280px;
    }
  }
}

.page-5 {
  .page-left {
    .content-container {
      height: 392px;
    }
  }
}

.page-6 {
  .header {
    height: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    p.title {
      font-size: 50px;
    }
  }

  .teaser-images-container {
    height: 70%;
    min-height: 550px;
    min-width: 1020px;
    clear: both;
    .img_container {
      height: 550px;
      width: 1020px;
      margin: auto;
      img {
        width: 330px;
        margin-left: 10px;
      }
    }
  }
}

.bottom {
  background-color: #404041;
  height: 10%;
  .bottom-content {
    width: 260px;
    height: 50px;
    margin: auto;
    padding: 15px;
    border: 0;
    p {
      font-size: 20px;
      float: left;
      padding: 5px;
    }

    button {
      margin-left: 10px;
    }
  }
}

.text-green {
  color: #8ac53f;
}

.text-black {
  color: #404041;
}

.text-blue {
  color: #27a9e0;
}

.btn {
  max-width: 30px;
  max-height: 30px;
  display: inline-block;
  cursor: pointer;
}

.btn-fb {
  width: 30px;
  height: 30px;
  border: 0;
  background-color: rgba(256, 256, 256, 0);
  background-image: url("../images/btn_fb.png");
  background-size: 100%;
  padding: 0;
}

.btn-twt {
  width: 30px;
  height: 30px;
  border: 0;
  background-color: rgba(256, 256, 256, 0);
  background-image: url("../images/btn_twt.png");
  background-size: 100%;
  padding: 0;
}
