.nav
  .nav-container
    .header-left.pull-left
      img.logo(src="../images/tomoni_logo_blue.png")
    .header-right.pull-right
      nav.menu
        ul.navi_menu
          li.menu_item.pull-left
            a.menu_link(href="#page-3") drop
          li.menu_item.pull-left
            a.menu_link(href="#page-4") discover
          li.menu_item.pull-left
            a.menu_link(href="#page-5") chat
          li.menu_item 
            a.menu_link(href="#page-6") share
      .social
        .btns
          button.btn.btn-fb
          button.btn.btn-twt
      .language
        select.language
          option us
          option kr
          option jp
          option cn

#page-1
  .maps
    #mapcanvas(ng-init="initialize()")
    .mapoverlay
      img.mapoverlay(src="../images/dark_overlay_bg.png")
  .tomos
    .popup-area
      .popups
        .popup.popup-1(ng-show="show_popups[0]")
          p.name jordan
          p.message enhoying happy hour, 5-7!
          .bottoms
            p.notice Coming soong for iOS & Android.
        .popup.popup-2(ng-show="show_popups[1]")
          p.name jordan
          p.message enhoying happy hour, 5-7!
          .bottoms
            p.notice Coming soong for iOS & Android.
        .popup.popup-3(ng-show="show_popups[2]")
          p.name jordan
          p.message enhoying happy hour, 5-7!
          .bottoms
            p.notice Coming soong for iOS & Android.
        .popup.popup-4(ng-show="show_popups[3]")
          p.name jordan
          p.message enhoying happy hour, 5-7!
          .bottoms
            p.notice Coming soong for iOS & Android.
        .popup.popup-5(ng-show="show_popups[4]")
          p.name jordan
          p.message enhoying happy hour, 5-7!
          .bottoms
            p.notice Coming soong for iOS & Android.
    .tomos-area
      ul.tomos
        li.tomo.tomo-1(ng-click="show_popup(0)")
        li.tomo.tomo-2(ng-click="show_popup(1)")
        li.tomo.tomo-3(ng-click="show_popup(2)")
        li.tomo.tomo-4(ng-click="show_popup(3)")
        li.tomo.tomo-5(ng-click="show_popup(4)")
  .page-container.page-1
    .contents
      p.text-black.text-bold Welcome to Tomoni, the first activity-based discovery app!
      p.text-black Connect around activities in your neighborhood.
    .bottom-line

.page-container.page-2
  .page-left
    .content-container
      p.title.text-light Tomo will get<br />you dates.
      p.content.text-regular Tomo stays where you put it and make your activities visible to all nearby users, then help you communicate with your potential partners.
      p.content.text-regular No need to fill any forms. No need to pay to get to meet new people.
      p.content.text-regular Just drop a tomo where you ans to hang out.
  .page-right
    .content-container
      .img-area
        img.drop1(src="../images/illu/illu1_parachute.png")
        img.drop2(src="../images/illu/illu1_shadowdrop.png")
  .bottom-line

#page-3.page-container.page-3
  .page-left
    .content-container
      .img-area
        img.popup(src="../images/illu/illu2_popup.png")
  .page-right
    .content-container
      p.title.text-light Drop and discover<br />tomos around you.
      p.content.text-regular Tomo filters keep content interesting to you.
  .bottom-line

#page-4.page-container.page-4
  .page-left
    .content-container
      p.title.text-light Find something<br/ >interesting?<br />Chat about it.
      p.content.text-regular Use chat to share details and meetup.
  .page-right
    .content-container
      .img-area 
        img.chat1(src="../images/illu/illu3_chat1.png")
        img.chat2(src="../images/illu/illu3_chat2.png")
        img.chat3(src="../images/illu/illu3_chat3.png")
  .bottom-line

#page-5.page-container.page-5
  .page-left
    .content-container
      p.title.text-light Share your<br />activities on <br />Facebook and<br />Twitter.
      p.content.text-regular Get your friends involved<br />or meet new people.
  .page-right
    .content-container
      .img-area
        img.fb(src="../images/illu/illu4_fb.png")
        img.twt(src="../images/illu/illu4_tw.png")
  .bottom-line

#page-6.page-container.page-6
  .header
    p.text-light Like us much?
    p.text-bold We will be coming soon!
  .teaser-images-container
    .img_container 
      img(src="../images/illu/mocks.png")
.bottom
  .bottom-content
    p.text-blue Follow us on
    button.btn.btn-fb
    button.btn.btn-twt
