.page-container.page-1
  .header
    .header-left.pull-left
      h3 tomoni_teaser
    .header-right.pull-right
      .copyright
        p.text-blue Design and developed by Easi6.
      .social
        button.btn.btn-fb
        button.btn.btn-twt
  .maps
    #mapcanvas(ng-init="initialize()")
    .mapoverlay
    .tomos
      img(src="../images/map_img.png")
  .contents
    p.black-text <strong>Welcome to Tomoni, the first activity-based discovery app!</strong><br />Connect around activities in your neighborhood.
  .bottom-line(style="border-bottom: solid 1px #333;")

.page-container.page-2
  .page-right
    .content-container
      p.title.
        Tomo will get<br />you dates.
      p.content Tomo stays where you put it and make your<br />activities visible to all nearby users, then help<br />you communicate with your potential partners.
      p.content No need to fill any forms. No need to pay to<br />get to meet new people.
      p.content Just drop a tomo where you ans to hang out.
  .page-left 
    .content-container
      img(src="../images/app_img_1.png")
  .bottom-line(style="border-bottom: solid 1px #333;")

.page-container.page-3
  .page-right
    .content-container
      img(src="../images/app_img_2.png")
  .page-left
    .content-container
      p.title.
        Drop and discover<br />tomos around you.
      p.content Tomo filters keep content interesting to you.
  .bottom-line(style="border-bottom: solid 1px #333;")

.page-container.page-4
  .page-right
    .content-container
      p.title.
        Find something<br/ >interesting?<br />Chat about it.
      p.content Use chat to share details and meetup.
  .page-left
    .content-container
      img(src="../images/app_img_3.png")
  .bottom-line(style="border-bottom: solid 1px #333;")

.page-container.page-5
  .page-right
    .content-container
      img(src="../images/app_img_4.png")
  .page-left
    .content-container
      p.title.
        Share your<br />activities on <br />Facebook and<br />Twitter.
      p.content Get your friends involved<br />or meet new people.
  .bottom-line(style="border-bottom: solid 1px #333;")

.page-container.page-6
  .header
    p.text-black Like us much?
    p.title.text-green We will be coming soon!
  .teaser-images-container
    .img_container 
      img(src="../images/teaser_1.png")
      img(src="../images/teaser_2.png")
      img(src="../images/teaser_3.png")
.bottom
  .bottom-content
    p.text-blue Follow us on
    button.btn.btn-fb
    button.btn.btn-twt
