.nav
  .nav-container
    .header-left.pull-left
      img.logo(src="../images/tomoni_logo_blue.png", ng-click="gotoPage(0)")
    .header-right.pull-right
      nav.menu
        ul.navi_menu
          li.menu_item.pull-left
            a.menu_link(ng-click="gotoPage(1)") {{ 'DROP' | translate }}
          li.menu_item.pull-left
            a.menu_link(ng-click="gotoPage(2)") {{ 'DISCOVER' | translate }}
          li.menu_item.pull-left
            a.menu_link(ng-click="gotoPage(3)") {{ 'CHAT' | translate }}
          li.menu_item 
            a.menu_link(ng-click="gotoPage(4)") {{ 'SHARE' | translate }}
      .social
        .btns
          a.btn.btn-fb(href="https://www.facebook.com/tomoniapp")
          a.btn.btn-twt(href="https://twitter.com/tomoniapp")
      .language
        .dropdown
          a.dropdown-toggle english
          ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
            li(role="presentation") 
              a(role="menuitem", ng-click="languageChange('us')") english
            li(role="presentation")
              a(role="menuitem", ng-click="languageChange('kr')") 한국어
            li(role="presentation") 
              a(role="menuitem", ng-click="languageChange('jp')") 日本語
            li(role="presentation")
              a(role="menuitem", ng-click="languageChange('tw')") 中文

#page-1
  .maps
    #mapcanvas(ng-init="initialize()")
    .mapoverlay
      img.mapoverlay(src="../images/dark_overlay_bg2.png")
  .tomos
    .popup-area
      .popups
        .popup.popup-1(ng-show="show_popups[0]")
          img.profile_img(src="../images/popup/marisa2.png")
          p.name {{ 'MARISA' | translate }}
          p.message {{ 'TOMO_EXERCISE' | translate }}
          .bottoms
            p.notice {{ 'COMINGSOON' | translate }}
        .popup.popup-2(ng-show="show_popups[1]")
          img.profile_img(src="../images/popup/Nestor.png")
          p.name {{ 'NESTOR' | translate }}
          p.message {{ 'TOMO_BEER' | translate }}
          .bottoms
            p.notice {{ 'COMINGSOON' | translate }}
        .popup.popup-3(ng-show="show_popups[2]")
          img.profile_img(src="../images/popup/jordan2.png")
          p.name {{ 'JORDAN' | translate }}
          p.message {{ 'TOMO_EAT' | translate }}
          .bottoms
            p.notice {{ 'COMINGSOON' | translate }}
        .popup.popup-4(ng-show="show_popups[3]")
          img.profile_img(src="../images/popup/Kyeongsik.png")
          p.name {{ 'KYEONGSIK' | translate }}
          p.message {{ 'TOMO_DATE_1' | translate }}
          .bottoms
            p.notice {{ 'COMINGSOON' | translate }}
        .popup.popup-5(ng-show="show_popups[4]")
          img.profile_img(src="../images/popup/Momo.png")
          p.name {{ 'MOMO' | translate }}
          p.message {{ 'TOMO_DATE_2' | translate }}
          .bottoms
            p.notice {{ 'COMINGSOON' | translate }}
    .tomos-area
      ul.tomos
        li.tomo.tomo-1(ng-click="show_popup(0)")
        li.tomo.tomo-2(ng-click="show_popup(1)")
        li.tomo.tomo-3(ng-click="show_popup(2)")
        li.tomo.tomo-4(ng-click="show_popup(3)")
        li.tomo.tomo-5(ng-click="show_popup(4)")
  .page-container.page-1
    .contents
      p.text-black.text-bold {{ 'WELCOME-TITLE' | translate }}
      p.text-black {{ 'WELCOME-CONTENT' | translate }}
    .bottom-line

.page-container.page-2
  .page-left
    .content-container
      p.title.text-light {{ 'TOMO-TITLE1' | translate }}<br />{{ 'TOMO-TITLE2' | translate }}
      p.content.text-regular {{ 'TOMO-P1' | translate }}
      p.content.text-regular {{ 'TOMO-P2' | translate }}
      p.content.text-regular {{ 'TOMO-P3' | translate }}
  .page-right
    .content-container
      .img-area
        img#drop1(src="../images/illu/illu1_parachute.png")
        img#drop2(src="../images/illu/illu1_shadowdrop.png")
  .bottom-line

#page-3.page-container.page-3
  .page-left
    .content-container
      .img-area
        img#illu2_popup(src="../images/illu/illu2_popup.png")
  .page-right
    .content-container
      p.title.text-light {{ 'DROP-TITLE1' | translate }}<br />{{ 'DROP-TITLE2' | translate }}
      p.content.text-regular {{ 'DROP-P' | translate }}
  .bottom-line

#page-4.page-container.page-4
  .page-left
    .content-container
      p.title.text-light {{ 'CHAT-TITLE1' | translate }}<br/ >{{ 'CHAT-TITLE2' | translate }}<br />{{ 'CHAT-TITLE3' | translate }}
      p.content.text-regular {{ 'CHAT-P' | translate }}
  .page-right
    .content-container
      .img-area 
        img#chat1(src="../images/illu/illu3_chat1.png")
        img#chat2(src="../images/illu/illu3_chat2.png")
        img#chat3(src="../images/illu/illu3_chat3.png")
  .bottom-line

#page-5.page-container.page-5
  .page-left
    .content-container
      p.title.text-light {{ 'SHARE-TITLE1' | translate }}<br />{{ 'SHARE-TITLE2' | translate }}<br />{{ 'SHARE-TITLE3' | translate }}<br />{{ 'SHARE-TITLE4' | translate }}
      p.content.text-regular {{ 'SHARE-P1' | translate }}<br />{{ 'SHARE-P2' | translate }}
  .page-right
    .content-container
      .img-area
        img.fb.illu4_fadein(src="../images/illu/illu4_fb.png")
        img.twt.illu4_fadein(src="../images/illu/illu4_tw.png")
  .bottom-line

#page-6.page-container.page-6
  .header
    p.text-light {{ 'COMINGSOON-TITLE1' | translate }}
    p.text-bold {{ 'COMINGSOON-TITLE2' | translate }}
  .teaser-images-container
    .img_container 
      img(src="../images/illu/mocks.png")

.bottom
  .bottom-content
    p.text-blue Design and developed by 
      a.text-white(href="http://easi6.com") easi6
    a.text-blue.presskit Want to lean more? Download our Presskit!
